<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExpenseApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExpenseApplication.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a>ExpenseApplication</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="margin-left:100px">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @if(User.IsInRole("1"))
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Masraf Ekle</a>
                            }
                        </li>
                        <li class="nav-item">
                             @if (User.IsInRole("1"))
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PendingExpenses">Düzenlenmeyi Bekleyen Masraflar</a>
                            }
                            </li>
                        <li class="nav-item">
                            @if (User.IsInRole("1"))
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="PendingForms">Masraflarım</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (User.IsInRole("2"))
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Onay Bekleyen Masraflar</a>
                            }                          
                        </li>
                        <li class="nav-item">
                            @if (User.IsInRole("3"))
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Accountant">Ödenmeyi Bekleyen Masraflar</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (User.IsInRole("4"))
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Admin">Masraf Geçmişi</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (User.IsInRole("4"))
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="MonthlyExpenseSummary">Aylık Masraflar</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (User.IsInRole("4"))
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="UserExpenseSummary">Çalışan Masrafları</a>
                            }
                        </li>
                        
                        
                    </ul>
                </div>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Çıkış Yap</a>
                    </li>
                </ul>
            }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ExpenseApplication
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
